{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('users.redirect_to_seller_inventory') }}" class="btn btn-light">Cancel</a>
        </div>
        <div class="col-md-6 text-md-right">
            <h2 class="mt-md-0 mt-4">Add New Product:</h2>
        </div>
    </div>

    <form class="mt-3" method="POST" action="/add_product">
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description" required>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" name="category" required>
        </div>

        <div class="form-group">
            <label for="tag">Tag:</label>
            <input type="text" class="form-control" name="tag" required>
        </div>

        <div class="form-group">
            <label for="subtag">Subtag:</label>
            <input type="text" class="form-control" name="subtag" required>
        </div>

        <div class="form-group">
            <label for="picture">Picture link:</label>
            <input type="text" class="form-control" name="picture" required>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="text" class="form-control" name="quantity">
        </div>

        <input type="submit" class="btn btn-primary" value="Add Product">
    </form>
</div>
{% endblock %}
