{% extends "base.html" %}

{% block content %}
<br><br>
<!-- home page link -->
<body>
    <a href="{{ url_for('carts.orders', uid=current_user.get_id()) }}" type="button" class="btn btn-light">Orders</a>
</body>
<br><br>
<h2>Details for order:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!-- need product name, quantity, price, seller name, fulfilled or not, time fulfilled -->
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Seller</th>
      <th scope="col">Fulfilled</th>
      <th scope="col">Fulfillment Time</th>
      <th scope="col">Submit a Seller Review</th>
    </tr>
  </thead>
  <!-- all details -->
  <tbody>
    {% for detail in order_details %}
    <tr>
        <td>{{ detail.product_name }}</td>
        <td>{{ detail.quantity }}</td>
        <td>${{ '%0.2f' % detail.price }}</td>
        <td>{{ detail.seller_name }}</td>
        <td>{{ 'Yes' if detail.fulfilled else 'No' }}</td>
        <td>{{ detail.time_fulfilled }}</td>
        <td>
          <a href="{{ url_for('seller_rating.redirect_to_seller_page', sid=detail.sid) }}" class="btn btn-light">Add/Edit Review</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}