{% extends "base.html" %}

{% block content %}

<br><br>

<h1>Product Search Results</h1>
<style>
  .parent {
    margin-bottom: 20px;
  }

  .indent-1 {
    margin-left: 10px;
  }

  .indent-2 {
    margin-left: 20px;
  }

  .indent-3 {
    margin-left: 30px;
  }
</style>

<script>
  function submitFilterForm() {
    document.getElementById("filterForm").action = "{{ url_for('products.get_products') }}";
    document.getElementById("filterForm").submit();
  }
</script>

<div class="parent">
  <form METHOD="GET" id="filterSortForm">
    {% for category, tags in tag_subtag_mapping.items() %}
      <details class="indent-1">
        <summary>
          <label>
            <input type="checkbox" name="categories" value="{{ category }}" {% if category in selected_categories %}checked{% endif %}>
            {{ category }}
          </label>
        </summary>
        <div class="indent-2">
          {% for tag in tags.keys() %}
            <details class="indent-2">
              <summary>
                <label>
                  <input type="checkbox" name="tags" value="{{ tag }}" data-category="{{ category }}" {% if tag in selected_tags %}checked{% endif %}>
                  {{ tag }}
                </label>
              </summary>
              <div class="indent-3">
                {% for subtag in tags[tag] %}
                  <label>
                    <input type="checkbox" name="subtags" value="{{ subtag }}" data-tag="{{ tag }}" {% if subtag in selected_subtags %}checked{% endif %}>
                    {{ subtag }}
                  </label><br>
                {% endfor %}
              </div>
            </details>
          {% endfor %}
        </div>
      </details>
    {% endfor %}
    <input type="hidden" name="keywords" value="{{ ' '.join(keywords) }}">
    <div class="form-group d-flex">
      <label for="sortBy" class="mr-2">Sort by:</label>
      <select class="form-control mr-2" name="sort_by" id="sortBy" style="width: 300px;">
        <option value="all">--</option>
        <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
        <option value="avg_stars" {% if sort_by == 'avg_stars' %}selected{% endif %}>Average Rating</option>
        <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
      </select>

      <label for="sortOrder" class="mr-2">Sort order:</label>
      <select class="form-control" name="sort_order" id="sortOrder" style="width: 300px;">
        <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Descending</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" onclick="submitFilterSortForm()">Filter & Sort</button>
  </form>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to handle category checkbox change
    function handleCategoryCheckboxChange(categoryCheckbox) {
      const category = categoryCheckbox.value;
      const tagCheckboxes = document.querySelectorAll(`[data-category="${category}"][name="tags"]`);
      tagCheckboxes.forEach(tagCheckbox => {
        tagCheckbox.checked = categoryCheckbox.checked;
        handleTagCheckboxChange(tagCheckbox);
      });
    }

    // Function to handle tag checkbox change
    function handleTagCheckboxChange(tagCheckbox) {
      const tag = tagCheckbox.value;
      const subtagCheckboxes = document.querySelectorAll(`[data-tag="${tag}"][name="subtags"]`);
      subtagCheckboxes.forEach(subtagCheckbox => {
        subtagCheckbox.checked = tagCheckbox.checked;
      });
    }

    // Attach event listeners to category checkboxes
    const categoryCheckboxes = document.querySelectorAll('[name="categories"]');
    categoryCheckboxes.forEach(categoryCheckbox => {
      categoryCheckbox.addEventListener("change", () => handleCategoryCheckboxChange(categoryCheckbox));
    });

    // Attach event listeners to tag checkboxes
    const tagCheckboxes = document.querySelectorAll('[name="tags"]');
    tagCheckboxes.forEach(tagCheckbox => {
      tagCheckbox.addEventListener("change", () => handleTagCheckboxChange(tagCheckbox));
    });
  });
</script>

<script>
  function submitFilterSortForm() {
    // Submit the combined filter and sort form
    document.getElementById("filterSortForm").action = "{{ url_for('products.get_products') }}";
    document.getElementById("filterSortForm").submit();
  }
</script>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Rating</th>
      <th scope="col">Availability</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products%}
      <tr onclick="window.location='{{ url_for('products.product_details', pid=product.id) }}';" style="cursor:pointer;">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>
          <img src="{{ product.image_url }}" alt="{{ product.name }} Image" width="100" height="100">
        </td>
        <td>{{ '{:.2f}/5'.format(product.avg_stars) if product.avg_stars is not none else 'Not rated' }}</td>
        <td>
          <span class="{% if product.available %}text-success{% else %}text-danger{% endif %}">
            {% if product.available %}
              In Stock
            {% else %}
              Out of Stock
            {% endif %}
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% set total_pages = (total // per_page) + (1 if total % per_page > 0 else 0) %}
    {% for p in range(1, total_pages + 1) %}
    <li class="page-item {% if p == page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('products.get_products', page=p, keywords=keywords, categories=selected_categories, tags=selected_tags, subtags=selected_subtags, sort_order=sort_order, sort_by=sort_by) }}">{{ p }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>


{% endblock %}
